{{!--
Re-usable card for linking to posts
--}}

<article class="gh-card {{post_class}}">
    <a class="gh-card-link" href="{{url}}">
        {{#if feature_image}}
            <img class="gh-card-image"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 1000px) 400px, 700px"
                src="{{img_url feature_image size="m"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            />
        {{/if}}
        <div class="gh-card-content">
            <span class="gh-card-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
            <h2 class="gh-card-title">{{title}}</h2>
            <p>{{excerpt}}</p>
            <strong>Read more</strong>
        </div>
    </a>
</article>
