<nav class="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><span aria-hidden="true">&larr;</span> {{t "Newer posts"}}</a>
    {{/if}}

    <span class="page-number">{{t "Page"}} {{page}} {{t "of"}} {{pages}}</span>

    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">{{t "Older posts"}} <span aria-hidden="true">&rarr;</span></a>
    {{/if}}
</nav>