<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@100;200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
<div class="gh-viewport">

<header id="gh-head" class="gh-head">
    <nav class="gh-head-inner gh-container">

        <div class="gh-head-brand">
            <a class="gh-head-logo" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
            <a class="gh-burger" role="button" aria-label="menu">
                <div class="gh-burger-box">
                    <div class="gh-burger-inner"></div>
                </div>
            </a>
        </div>
        <div class="gh-head-menu">
            {{navigation}}
        </div>
        <div class="gh-head-actions">
            <div class="gh-head-actions-list">
                {{search}}
                {{#if @site.members_enabled}}
                    {{^if @member}}
                    <a class="gh-button" href="{{@site.signup_url}}">Subscribe</a>
                    {{else}}
                    <a class="gh-button" href="#/portal/account">Account</a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </nav>
</header>

<main class="gh-main">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

<footer class="gh-foot">
    <div class="gh-container footer-border">
        <div class="top-footer">
            <div>
                <img 
                    src="/assets/images/logo.svg"
                    alt="XO Ruby Logo"
                    width="300"
                    height="300"
                    class="logo"
                />
            </div>
            <div>
                <ul class="social-media">
                    <li role="menuitem">
                        <a href="https://bsky.app/profile/xoruby.com" target="_blank" rel="noopener noreferrer">
                            <img src="/assets/images/bluesky.svg" alt="Blue Sky" />
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="https://www.linkedin.com/company/beflagrant" target="_blank" rel="noopener noreferrer">
                            <img src="/assets/images/linkedin.svg" alt="Linkedin" />
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="https://ruby.social/@xoruby" target="_blank" rel="noopener noreferrer">
                            <img src="/assets/images/mastodon.svg" alt="Mastodon" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="gh-foot-menu">
            <div class="copyright">
                XORuby @ 2024. All rights reserved.
            </div>
            <div>
                {{navigation}}
            </div>
            <div>
                {{#if @site.members_enabled}}
                    {{^if @member}}
                    <a class="gh-button" href="{{@site.signup_url}}">Subscribe</a>
                    {{else}}
                    <a class="gh-button" href="#/portal/account">Account</a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</footer>

</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
