{{!< default}}

{{#post}}
<article class="gh-article {{post_class}}">

    <header class="gh-header gh-canvas">
        <h1 class="gh-title">{{title}}</h1>

        {{#if custom_excerpt}}
            <p class="gh-excerpt">{{custom_excerpt}}</p>
        {{/if}}

        {{#if feature_image}}
            <img class="gh-feature-image" src="{{feature_image}}" alt="{{title}}" />
        {{/if}}
    </header>

    <div class="gh-content gh-canvas">
        {{content}}
    </div>

</article>
{{/post}}
