{{!< default}}

{{#post}}
<article class="gh-post {{post_class}}">

    <header class="gh-post-header">
        <h1 class="gh-post-title">{{title}}</h1>
    </header>

    {{#if custom_excerpt}}
        <p class="gh-post-excerpt">{{custom_excerpt}}</p>
    {{/if}}

    {{#if feature_image}}
    <div class="gh-post-image">
        <img class="kg-image" src="{{feature_image}}" alt="{{title}}" />
    </div>
    {{/if}}

    <div class="gh-post-body">
        {{content}}
    </div>

    {{!-- Email subscribe form at the bottom of the page --}}
    {{#if @labs.members}}
        {{> subscribe-form}}
    {{/if}}

    <footer class="gh-post-footer">

        <div class="gh-post-authors">
            Written by
            {{#foreach authors}}
                <a href="{{url}}">{{name}}</a>
            {{/foreach}}
        </div>

    </footer>

    {{!--
    <section class="gh-post-comments">
        If you want to embed comments, this is a good place to do it!
    </section>
    --}}

</article>
{{/post}}

{{!-- The #contentFor helper here will send everything in it to the matching #block helper in default.hbs --}}
{{#contentFor "scripts"}}
<script>
var images = document.querySelectorAll('.kg-gallery-image img');
images.forEach(function (image) {
    var container = image.closest('.kg-gallery-image');
    var width = image.attributes.width.value;
    var height = image.attributes.height.value;
    var ratio = width / height;
    container.style.flex = ratio + ' 1 0%';
})
</script>
{{/contentFor}}
