{{!< default}}

<main class="site-main">

    {{#post}}

    <article class="gh-article {{post_class}}">

        <header class="gh-article-header gh-canvas">
            <span class="backButton" onclick="window.open('{{@site.url}}','_self')">
                <i class="arrowLeft fa-solid fa-arrow-left"></i>
            </span>

            {{#if custom_excerpt}}
                <p class="gh-article-excerpt">{{custom_excerpt}}</p>
            {{/if}}

            {{!-- Image --}}
            {{> "post-image"}}

            {{!-- Tag --}}
            {{#if primary_tag}}
                <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
            {{/if}}

            {{!-- Title --}}
            <h1 class="gh-article-title">{{title}}</h1>
            
            {{!-- Date --}}
            <div class="articlePublished">
                <time class="publishedDate" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                <i class="dotIcon fa-solid fa-circle"></i>
                <span class="readTime">	{{reading_time}}</span>
            </div>

        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>
    </article>

    {{!-- Share Post Banner --}}
    {{> "share-banner"}}

    {{!-- Prev Post ---- Next Post --}}
    {{!-- {{> "post-navigation"}} --}}

    {{#if comments}}
        <div class="gh-comments gh-canvas">
            {{comments}}
        </div>
    {{/if}}

    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

</main>