<section class="lb-home-description-section">
    <h3>{{{t "description.header"}}}</h3>
    <div class="lb-home-description">
        <div class="item">
            <h5>{{t "description.retailers.title"}}</h5>
            {{{t "description.retailers.content"}}}
        </div>
        <div class="item">
            <h5>{{t "description.customers.title"}}</h5>
            {{{t "description.customers.content"}}}
        </div>
    </div>
</section>
